* {
  font-family:
    FontAwesome,
    Iosevka Nerd Font,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.64);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#taskbar button {
  padding: 0 10px;
  margin: 0px 0px;
  border-radius: 10px;
}

#taskbar button.active {
  margin: 4px 0px;
  background-color: rgba(255, 255, 255, 0.08);
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.88);
}

#workspaces > button:first-child {
  margin: 0 0 0 -8px;
}

#workspaces > button:nth-child(2) {
  margin: 0 0 0 -2px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  color: #61afef;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#custom-media,
#custom-fans,
#clock,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 0 10px;
  margin: 4px 0;
  border-radius: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
